{% extends 'base.html' %}

{% block content %}
<div style="width:40%;" class="container bg-pink-opaque p-3 mb-2"> 
    <p class="page-title">Quiz</p>
    <p>Check the correct answer and increase your score based on the question's difficulty. It's Trivia Time!</p></div>

<form action="{{ url_for('main.score') }}" method="POST">
{% for question in questions %}
<div style="width:40%;" class="container bg-pink-opaque p-3 mb-2">
    <p class="clr1">{{ question["category"]|safe }} : {{ question["difficulty"].capitalize()|safe }}</p> 
    <p class="bg-shadow"> {{ question["question"]|safe }}</p>        
    {% for answer in question["answers"] %}
    <input class="ml-1 d-inline form-check-input" type="radio" name="{{questions.index(question)}}" for="{{ answer }}" value="{{ answer }}">
    <label class="ml-4 font-text d-inline" for="exampleRadios1">{{ answer|safe }}</label><br>
    {% endfor %} </div>        
    {% endfor %} 
    <div style="width:20%;" class="container mb-2 align-content-center">
        <input class="m-3 btn-light" type="submit" value="Submit">
    </div>
    </form>
{% endblock %}